body {
	font-family: 'Open Sans', sans-serif;
	margin:0;
	width: 1150px;
	height: 650px;
}

.sidebar {
	width: 305px;
	height: 100%;
	background-image: linear-gradient(-180deg, #364656 14%, #346DA7 100%);
	overflow-y: auto;
	float: left;
	padding-top: 37px;
}

.content{
	width: 845px;
	height: 100%;
	float: left;
	background-color: #EFF2EF;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
}

.menu {
	padding: 0px;
	width: 100px;
	height: 300px;
	float: left;
}

.menu-item {
	width: 100px;
	height: 90px;
	padding-top:10px;
	text-align: center;
}

.selected{
	width: 95px;
	border-left: solid 5px #B3E527;
}

.selected .menu-text {
	font-size: 16px;
	color: #B3E527;
	font-weight: 700;
}
.menu-text{
	font-size: 16px;
	color: #F4FFFD;
	font-weight: 3001;
}

.icon {
	width: 17px;
	height: 17px;
	fill: #B3E527;
	display: block;
	margin: 0 auto;
}

.hide{
	display: none;
}

.other-menu{
	width: 185px;
	float: left;
	list-style-type: none;
	padding:20px 0 0 0;
	margin-left: 20px;
	color: #F4FFFD;
}

.other-menu>li {
	margin-bottom: 55px;
}

.other-menu .icon{
	margin: 0 5px 0 0;
	display: inline-block;
}
.other-text{
	margin: 0;
	display: inline-block;
}


.inner-menu{
	list-style-type: none;
	padding-left: 45px;
}

.inner-menu>li{
	margin-top: 8px;
	font-weight: 100;
}

.bold{
	font-weight: bold;
}

#stars {
	position: absolute;
	padding-left: 2px;
	padding-bottom: 3px;
	bottom: 0;
	left: 0;
}
